:root {
  --background: #f0f0f0;
  --foreground: #ddd;
  --content: #333;
  --error-foreground: rgb(255, 255, 255);
  --error-background: rgb(253, 60, 60);
  --success-background: rgb(60, 200, 60);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --foreground: #555;
    --content: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}