:root {
  --background: #f0f0f0;
  --foreground: #ddd;
  --content: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --foreground: #555;
    --content: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
