/* Dark Theme */
.menu-button {
    background-color: var(--background);
    color: var(--content);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: auto;
    transition: background-color 0.3s ease-in-out;

    position: fixed;
    top: 30px;
    right: 30px;
}

.menu-button:hover {
    background-color: var(--foreground);
    /* display: block; */
}