/* Dark Theme */
.dropdown-menu {
    /* display: none; */
    position: absolute;
    background-color: var(--background);
    color: var(--content);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;

    position: fixed;
    top: 80px;
    right: 30px;
}


.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px 15px;
}


.dropdown-menu .card-item {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 10px; /* Adjust the border radius as needed */
    overflow: hidden;
  }
  
  .dropdown-menu .card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }